---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 38f9d519053ef430597cd31f0cf1fed8ad07c179
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1548875196'
      Etag:
      - W/"d699d85dc35b59e94bbf53df18f10aad"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":160712096,"node_id":"MDEwOlJlcG9zaXRvcnkxNjA3MTIwOTY=","name":"activerecord-obstacle-course","full_name":"lptaylor/activerecord-obstacle-course","private":false,"owner":{"login":"lptaylor","id":40240542,"node_id":"MDQ6VXNlcjQwMjQwNTQy","avatar_url":"https://avatars3.githubusercontent.com/u/40240542?v=4","gravatar_id":"","url":"https://api.github.com/users/lptaylor","html_url":"https://github.com/lptaylor","followers_url":"https://api.github.com/users/lptaylor/followers","following_url":"https://api.github.com/users/lptaylor/following{/other_user}","gists_url":"https://api.github.com/users/lptaylor/gists{/gist_id}","starred_url":"https://api.github.com/users/lptaylor/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lptaylor/subscriptions","organizations_url":"https://api.github.com/users/lptaylor/orgs","repos_url":"https://api.github.com/users/lptaylor/repos","events_url":"https://api.github.com/users/lptaylor/events{/privacy}","received_events_url":"https://api.github.com/users/lptaylor/received_events","type":"User","site_admin":false},"html_url":"https://github.com/lptaylor/activerecord-obstacle-course","description":"Backend
        Module 2, Active Record practice exercises","fork":true,"url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course","forks_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/forks","keys_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/keys{/key_id}","collaborators_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/teams","hooks_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/hooks","issue_events_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/issues/events{/number}","events_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/events","assignees_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/assignees{/user}","branches_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/branches{/branch}","tags_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/tags","blobs_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/git/refs{/sha}","trees_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/git/trees{/sha}","statuses_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/statuses/{sha}","languages_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/languages","stargazers_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/stargazers","contributors_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/contributors","subscribers_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/subscribers","subscription_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/subscription","commits_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/commits{/sha}","git_commits_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/git/commits{/sha}","comments_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/comments{/number}","issue_comment_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/issues/comments{/number}","contents_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/contents/{+path}","compare_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/compare/{base}...{head}","merges_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/merges","archive_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/downloads","issues_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/issues{/number}","pulls_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/pulls{/number}","milestones_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/milestones{/number}","notifications_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/labels{/name}","releases_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/releases{/id}","deployments_url":"https://api.github.com/repos/lptaylor/activerecord-obstacle-course/deployments","created_at":"2018-12-06T17:59:12Z","updated_at":"2019-01-07T21:41:08Z","pushed_at":"2019-01-07T21:41:06Z","git_url":"git://github.com/lptaylor/activerecord-obstacle-course.git","ssh_url":"git@github.com:lptaylor/activerecord-obstacle-course.git","clone_url":"https://github.com/lptaylor/activerecord-obstacle-course.git","svn_url":"https://github.com/lptaylor/activerecord-obstacle-course","homepage":null,"size":45,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":160852528,"node_id":"MDEwOlJlcG9zaXRvcnkxNjA4NTI1Mjg=","name":"apollo_14","full_name":"lptaylor/apollo_14","private":false,"owner":{"login":"lptaylor","id":40240542,"node_id":"MDQ6VXNlcjQwMjQwNTQy","avatar_url":"https://avatars3.githubusercontent.com/u/40240542?v=4","gravatar_id":"","url":"https://api.github.com/users/lptaylor","html_url":"https://github.com/lptaylor","followers_url":"https://api.github.com/users/lptaylor/followers","following_url":"https://api.github.com/users/lpta[...]
